
<!-- clima-de-hoy -->
<GridLayout rows="auto, auto"> 

    <Label
        row="0"
        textWrap="true"
        horizontalAlignment="left"
        fontSize="18"
        marginLeft="10"
        text="Proximos eventos"
        verticalAlignment="center"
        color="#674ea7"> </Label>

    <GridLayout row="1" rows="*" columns="*" margin="15" padding="15" marginTop="0"> 

         <!-- meCalendar -->
         <RadCalendar height="150" width="100%" row="0" viewMode="Week"></RadCalendar>   

    </GridLayout>
</GridLayout> 