   <GridLayout
        rows="3*, 6*, 3*" 
        columns="8*,4*" 
        borderWidth="2" 
        borderColor="#674ea7" 
        borderRadius="10"
        (tap)="onPress()"
        horizontalAlignment="left"
        marginRight="10"
        height="220"
        width="260">

                <Label padding="5" fontSize="14" fontWeight="700"
                    verticalAlignment="top" row="0" col="0" colSpan="2"
                    width="100%" backgroundColor="#674ea7" color="#FFFFFF"
                    borderTopLeftRadius="6" borderTopRightRadius="6"
                    [text]="meetup.title+': '+count+' participantes.'"></Label>

                <StackLayout row="1" rowSpan="2" padding="10">

                    <Label fontSize="16" fontWeight="700" color="#393939"
                        class="futura" text="Asunto" marginBottom="0">
                    </Label>

                    <Label fontSize="14" fontWeight="400" color="#dadada"
                        marginTop="0" class="futura" [text]="meetup.subject">
                    </Label>

                    <Label fontSize="16" fontWeight="700" color="#393939"
                        class="futura" text="Fecha"
                        marginBottom="0" marginTop="10">
                    </Label>

                    <Label fontSize="14" fontWeight="400" marginTop="0"
                        color="#dadada" class="fas" [text]="meetup.date"></Label>
                </StackLayout>

              
               <Label padding="10" fontSize="14" fontWeight="700"
                    horizontalAlignment="center"
                    textAlignment="center"
                    verticalAlignment="bottom" row="2" col="0" colSpan="2"
                    width="100%" backgroundColor="#674ea7" color="#FFFFFF"
                    borderBottomLeftRadius="6" borderBottomRightRadius="6" [text]="getLabel()"></Label>

</GridLayout>