<ScrollView height="100%">
    <GridLayout rows="*, 180" heigth="auto" verticalAlignment="center">
                            
                            <StackLayout row="0" padding="15" height="100%" width="100%" verticalAlignment="center">
                                
                                <Label
                                    verticalAlignment="top"
                                    horizontalAlignment="left"
                                    marginLeft="0"
                                    textWrap="true"
                                    opacity="0.8"
                                    fontSize="24"
                                    color="#393939"
                                    android:marginTop="20"
                                    text="Donde se va a realizar ? "
                                    class="input futura"></Label>


                                 <Image
                                    height="60"
                                    marginTop="20"
                                    marginBottom="20"
                                    paddingBottom="10"
                                    borderBottomWidth="1"
                                    borderColor="#dadada"
                                    horizontalAlignment="center"
                                    src="~/assets/nuevo-meet/pin-ubicacion.png"
                                    stretch="aspectFit"></Image>

                                <!-- Buscador -->
                                    <TextField #textField 
                                        class="futura text-lowercase"
                                        textAlignment="left"
                                        color="#F3F3F3"
                                        backgroundColor="#674ea7"
                                        returnKeyType="search" 
                                        (textChange)="onTextChanged($event)"
                                        (returnPress)="onSubmit($event)"
                                        autocorrect="false"
                                        borderRadius="10"
                                        marginTop="20"
                                        verticalAlignment="bottom"
                                        padding="10"></TextField>

                                    <StackLayout 
                                        width="90%"
                                        android:height="200"
                                        ios:height="200"
                                        borderRadius="10">
                                                <RadListView
                                                    width="100%"
                                                    height="200"
                                                    [items]="_dataDirections"
                                                    backgroundColor="#FFFFFF">
                                                    <ng-template tkListItemTemplate let-item="item">
                                                    <Label
                                                        (tap)="selectDirection(item)"
                                                        height="40"
                                                        padding="10"
                                                        width="100%"
                                                        textWrap="true"
                                                        [color]="(item.selected) ? '#FFFFFF' : '#393939' " 
                                                        [backgroundColor]="(item.selected) ? '#674ea7' : '#FFFFFF' "
                                                        fontSize="14"
                                                        [text]="item.direccion"
                                                        fontWeight="500"
                                                        horizontalAlignment="left"
                                                        textWrap="true"></Label>
                                                    
                                                        </ng-template>
                                                </RadListView>
                                    </StackLayout>
                    
                                    </StackLayout>
                                    
                                    <StackLayout row="1" padding="15" width="100%">
                                    <!-- nextStep() -->
                                    <Button
                                        text="SIGUIENTE"
                                        verticalAlignment="bottom"
                                        horizontalAlignment="center"
                                        marginTop="40"
                                        marginBottom="10"
                                        height="50"
                                        borderRadius="10"
                                        color="#FFFFFF"
                                        fontSize="16"
                                        [backgroundColor]=" (isDirectionSelected)  ? '#393939' : '#dadada' "
                                        fontWeight="700"
                                        (tap)="nextToPage()"
                                        class="btn btn-secondary btn-active futura"
                                        width="80%"></Button>
                                    
                                    <!-- label -->
                                    <Label
                                        verticalAlignment="bottom"
                                        class="futura"
                                        text="volver atras"
                                        fontSize="18"
                                        padding="8"
                                        (tap)="backToPage()"
                                        textAlignment="center"
                                        color="#3d3d3d"
                                        textWrap="true"></Label>
                                </StackLayout>
    </GridLayout>
</ScrollView>
