<ActionBar 
    backgroundColor="#674ea7" color="#393939">
   

  <GridLayout  rows="*" columns="50, *, 50" orientation="horizontal" width="90%">
    
    

    
     <Label
        row="0"
        col="2"
        class="fas"
        text="&#xf0f3;"
        fontSize="20"
        textTransform="uppercase"
        verticalAlignment="center"
        horizontalAlignment="right"
        textWrap="true"
        text="&#xf2f5;"
        (tap)="onLogOut()"
        textWrap="true"></Label>


            <Label
                row="0"
                col="1"
                verticalAlignment="center"
                horizontalAlignment="center"
                color="#FAFAFA"
                textWrap="true">
                    <FormattedString>
                            <Span class="futura-bold" marginLeft="-10" color="#FAFAFA" fontSize="30" text="meet"></Span>
                            <Span class="futura-bold" fontWeight="900" marginLeft="-10" color="#FAFAFA" fontSize="30" text="APP"></Span>                    
                    </FormattedString>
                </Label>


  </GridLayout>

</ActionBar>





<GridLayout
        class="page"
        rows="180, 5, *"
        width="100%"
        height="auto">
          
    
    <!-- stack two --> 
    <ContentView row="0" width="100%"  height="100%" padding="0" margin="0" backgroundColor="#393939">
                      
                      <Mapbox #mapbox
                          ios:marginTop="80"
                          ios:height="100%"
                          delay="500"
                          (mapReady)="onMapReady($event)"
                          accessToken="sk.eyJ1Ijoid2VibWVlbWJhIiwiYSI6ImNrMG8zNmo5MDA2ajUzbG1kczgydDlvYmIifQ.1acS_GD7SnLjOdD6Nv0tzw"
                          mapStyle="dark"
                          latitude="-34.820824"
                          longitude="-58.464645"
                          zoomLevel="10"
                          showUserLocation="true"
                          hideCompass="true"></Mapbox>
    </ContentView>

    <!-- barra de progreso -->
    <StackLayout row="1" backgroundColor="#dadada">
          <StackLayout
            horizontalAlignment="left"
            height="5"
            [width]="(currentPagerIndex == 0) ? '25%' : (currentPagerIndex == 1) ? '50%' : (currentPagerIndex == 2) ? '60%' : (currentPagerIndex == 3) ? '75%' : '100%'"
            backgroundColor="#674ea7"></StackLayout>
    </StackLayout>
                
    <!-- loading -->
    <ActivityIndicator row="2" padding="10" color="#674ea7"  verticalAlignment="center"  marginTop="10" horizontalAlignment="center" width="100" height="100" [busy]="isLoading"></ActivityIndicator>
                  
    
      <Pager #pager 
          row="2"
          spacing="0%" 
          peaking="0%" transformers="scale" pagesCount="4"
          showIndicator="false" 
          disableSwipe="true" 
          disableAnimation="true" 
          verticalAlignment="top"
          [selectedIndex]="currentPagerIndex" 
          height="100%">
      
          <paso-one-component *pagerItem
            [meetup]="dataMeetup"
            (nextPage)="nextPage($event)"
            (backHome)="navigateTo('home')"> </paso-one-component>

          <paso-dos-component *pagerItem   
            [meetup]="dataMeetup"
            (backPage)="prevPage($event)"
            (nextPage)="nextPageAndLocation($event)"></paso-dos-component>

          <paso-tres-component *pagerItem
             [dataUsersFilter]="dataUsers"
             [dataUsers]="dataUsers"
             [meetup]="dataMeetup"
             (nextPage)="nextPage($event)"
             (backPage)="prevPage($event)"> </paso-tres-component>

          <paso-cuatro-component *pagerItem
             [meetup]="dataMeetup"
             (submitMeetup)="submitMeetup($event)"
             (resetSearch)="resetPage($event)"> </paso-cuatro-component>
          
      </Pager>
    
        
      <!-- connection -->
     <ConnectionStatus row="0" rowSpan="1" [status]="connectionStatus"> </ConnectionStatus>

</GridLayout>