<ActionBar 
    backgroundColor="#674ea7" color="#393939">
   

  <GridLayout  rows="*" columns="50, *, 50" orientation="horizontal" width="90%">
    
            <Label
                row="0"
                col="1"
                verticalAlignment="center"
                horizontalAlignment="center"
                color="#FAFAFA"
                textWrap="true">
                    <FormattedString>
                            <Span class="futura-bold" marginLeft="-10" color="#FAFAFA" fontSize="30" text="meet"></Span>
                            <Span class="futura-bold" fontWeight="900" marginLeft="-10" color="#FAFAFA" fontSize="30" text="APP"></Span>                    
                    </FormattedString>
                </Label>

  </GridLayout>

</ActionBar>
<GridLayout class="page-background" verticalAlignment="center"  height="100%" background="#fafafa">    
    
    <GridLayout rows="30, *, 60">
             
        <GridLayout row="0" rows="*" columns="*" verticalAlignment="top" backgroundColor="#393939" >   
                <Label
                    verticalAlignment="bottom"
                    class="futura"
                    text="Ultimas novedades"
                    padding="8"
                    fontSize="16"
                    textAlignment="center"
                    color="#dadada"
                    textWrap="true"></Label>
        </GridLayout>


                        
        <RadListView row="1" 
                    class="list-group" 
                    [items]="dataNotification"
                    (itemTap)="onItemTap($event)"
                    [visibility]="isLoading ? 'collapsed' : 'visible'">
                    
                    <ng-template tkListItemTemplate let-item="item">
                        <GridLayout
                            height="120"
                            rows="40, *, 40" 
                            columns="8*, 4*" 
                            class="add-dropdown" 
                            backgroundColor="#f5f7f7"
                            borderBottomWidth="2"
                            padding="8"
                            [backgroundColor]="(item.read_at && item.read_at.date) ? '#dadada' : '#FFFFFF' "
                            [borderColor]="(item.type && item.type=='mensaje') ? '#f8f6b9' : (item.type && item.type=='orden') ? '#f84e4e' : '#393939'">

                            <Label
                                row="0"
                                col="0"
                                colSpan="2"
                                [text]="item.data.title"
                                [color]="(item.read_at && item.read_at.date) ? '#333333' : '#f84e4e' "
                                fontSize="16"
                                verticalAlignment="center"
                                padding="0"
                                [fontWeight]="(item.read_at && item.read_at.date) ? '400' : '900' "
                                [class.futura]="(item.read_at && item.read_at.date)"
                                [class.futura-bold]="(!item.read_at || !item.read_at.date)"
                                row="0"  col="0"></Label>
                            
                            <Label
                                row="1"
                                col="0"
                                colSpan="2"
                                [text]="item.data.body"
                                verticalAlignment="top"
                                padding="0"
                                [color]="(item.read_at && item.read_at.date) ? '#000' : '#333333' "
                                [class.futura]="(item.read_at && item.read_at.date)"
                                [class.futura-bold]="(!item.read_at)"
                                row="1"  col="0"></Label>

                            <Label
                                row="2"
                                col="0"
                                [text]="item.create ? item.create : ''"
                                verticalAlignment="bottom"
                                horizontalAlignment="left"
                                fontSize="12"
                                padding="0"
                                [color]="(item.read_at && item.read_at.date) ? '#000' : '#333333' "
                                [class.futura]="(item.read_at && item.read_at.date)"
                                [class.futura-bold]="(!item.read_at)"
                            ></Label>

                            
                            <Label
                                row="2"
                                col="1"
                                [color]="(item.read_at && item.read_at.date) ? '#333333' : '#f84e4e' "
                                padding="5"
                                fontWeight="900"
                                [text]="(item.type && item.type=='mensaje') ? 'ver más' : (item.type && item.type=='orden') ? 'ver más' : 'ver más' " 
                                verticalAlignment="bottom" 
                                horizontalAlignment="right" 
                                class="futura" 
                                row="2" col="1"></Label>
                        </GridLayout>

                    </ng-template>

                </RadListView>


                <GridLayout row="2" rows="*" columns="*" class="list-group-item add-dropdown" verticalAlignment="center" backgroundColor="#FFFFFF" opacity="0.8">
                            <Label opacity="1" row="0" col="0" class="futura" fontSize="18" text="volver atras" (tap)="navigateTo('home')" padding="8" textAlignment="center" color="#3d3d3d" textWrap="true"></Label>
                </GridLayout>
                
                <!-- connection-status -->
                <ConnectionStatus row="0" rowSpan="1" [status]="connectionStatus"> </ConnectionStatus>

                <!-- loading-indicator -->
                <ActivityIndicator row="1" rowSpan="1" padding="10"  color="#674ea7"  verticalAlignment="center" horizontalAlignment="center" width="100" height="100" [busy]="isLoading"></ActivityIndicator>
                

    </GridLayout>

</GridLayout>