	
	<GridLayout 
		rows="160, *" 
		class="page">
			
			<AbsoluteLayout row="0" height="100%" backgroundColor="#fafafa">
				<StackLayout top="0" left="0" horizontalAlignment="center" width="100%">
					<Label	
						verticalAlignment="bottom"
						horizontalAlignment="center"
						marginTop="20"
						marginBottom="0"
						color="#393939"
						textWrap="true">
							<FormattedString>
						        	<Span marginLeft="-10" color="#393939" fontSize="60" text="meet"></Span>	
						        	<Span fontWeight="900" marginLeft="-10" color="#393939" fontSize="30" text="APP"></Span>                    				
						    </FormattedString>
						</Label>


				    <Label
						verticalAlignment="bottom"
						horizontalAlignment="center"
						marginTop="0"
						marginBottom="10"
						(tap)="showRestoreAccount()"
						textWrap="true">
							<FormattedString>
						        	<Span class="rotate-180" color="#393939" fontSize="14" text="Organiza reuniones y  "></Span>
						        	<Span color="#674ea7" fontSize="18" fontWeight="900" text="calcula tus bebidas. "></Span>					
						    </FormattedString>
					</Label>	 
					
					</StackLayout>
				</AbsoluteLayout>
				
				<ScrollView row="1" col="0" borderTopWidth="10" borderColor="#674ea7">
					<StackLayout class="form" backgroundColor="#fafafa" color="#674ea7" borderTopWidth="2" borderColor="#393939" paddingTop="50">
						
						<!-- <Label marginLeft="40" class="futura-bold" fontSize="30" marginTop="30" marginBottom="0" text="Iniciar sesión"></Label>
						 -->
						<PreviousNextView>
						<!-- add this 'wrapper' to enable those previous / next buttons -->
						<StackLayout width="90%" ios:marginTop="20" android:marginTop="10" marginBottom="10">
							
							
							  <TextField  
							  	fontSize="14"
							  	borderBottomWidth="1"
							  	borderColor="#000"
							  	ios:margin="5"
							  	ios:paddingTop="10" 
							    ios:paddingBottom="10" 
							    returnKeyType="next"
							    heigth="55"
							    color="#393939"
							    [(ngModel)]="dataUser.email" hint="Email" width="88%" class="form-input" textAlignment="left"></TextField>
								
								<StackLayout ios:margin="5" ios:paddingTop="10" heigth="55" orientation="horizontal" verticalAlignment="center" width="88%">
							
									<TextField #password   
										fontSize="14"
										borderBottomWidth="1"
										borderColor="#000"
										returnKeyType="next"
										color="#393939" 
										[(ngModel)]="dataUser.password" secure="true" hint="Contraseña" 
										(textChange)="writePassword($event)" class="form-input" textAlignment="left"
										width="90%"
										height="50"
										margin="0"></TextField>
								        		
									
				        			<Label 
					        			fontSize="16"
					        			color="#DDDDDD"
					        			class="fas form-background"
					        			width="10%"
					        			android:paddingTop="20"
					        			height="50"
					        			ios:paddingTop="5"
					        			marginBottom="0"
					        			text="&#xf06e;"
					        			textAlignment="center"
					        			borderBottomWidth="1"
					        			borderColor="#393939"
					        			(tap)="toggleShow($event)"
					        			verticalAlignment="center"></Label>
								
								</StackLayout> 
				

						  <Label
							verticalAlignment="top"
							horizontalAlignment="center"
							paddingTop="6"
							paddingBottom="6"
							(tap)="showRestoreAccount()"
							textWrap="true">
								<FormattedString>
							        	<Span color="#393939" fontSize="12" text="Has olvidado tu contraseña?"></Span>
							        	<Span color="#000" fontSize="10" text=" Haz click aquí. "></Span>					
							    </FormattedString>
							</Label>

						</StackLayout>

						</PreviousNextView>
						
							<Button
								text="INICIAR SESIÓN"
								marginTop="15"
								marginBottom="0"
								height="40"
								borderRadius="10"
								(tap)="loginWithEmail()"
								[isEnabled]="!isLoading"
								class="btn btn-secondary btn-active futura"
								color="#fffFFF"
								backgroundColor="#393939"
								fontWeight="700"
								width="80%"></Button>
							
							<StackLayout orientation="horizontal" horizontalAlignment="center" width="80%" marginTop="10" marginBottom="10">
								<Button [isEnabled]="!isLoading" class="fab" (tap)="loginWithFacebook()" text='&#xf39e;' marginRight="5" marginTop="0" backgroundColor="#4b6ca5" color="#FFFFFF" borderRadius="10" width="49%" height="40"></Button>
								<Button [isEnabled]="!isLoading" class="fab" (tap)="loginWithGoogle()" text='&#xf1a0;' marginLeft="5" marginTop="0" backgroundColor="#df4a32" color="#FFFFFF" borderRadius="10" width="49%" height="40"></Button>
							</StackLayout>
							
							<!-- <StackLayout verticalAlignment="center" width="20" class="hr-dark" marginBottom="10"></StackLayout> -->
							<Label class="fas" fontSize="30" marginBottom="10" horizontalAlignment="center" text="&#xf078;"></Label>

							<Button
								text="QUIERO REGISTRARME"
								margin="0"
								height="40"
								borderRadius="10"
								(tap)="navigateTo('register')"
								[isEnabled]="!isLoading"
								class="btn btn-secondary btn-active futura"
								color="#FFFFFF"
								borderWidth="1"
								borderColor="#FFFFFF"
								backgroundColor="#674ea7"
								fontWeight="700"
								width="80%"></Button>

								  <Label
								  	marginTop="40"
									verticalAlignment="bottom"
									horizontalAlignment="center"
									textWrap="true"
									fontSize="12"
									[text]="'Versión '+version"></Label>


								  <Label
								  	marginTop="2"
								  	fontSize="10"
									verticalAlignment="bottom"
									horizontalAlignment="center"
									textWrap="true"
									text="Desarrollado por Matias Cristiani."></Label>
					
					</StackLayout>		
				</ScrollView>

				<!-- loading-indicator -->
                <ActivityIndicator row="0" rowSpan="2" padding="10" color="#674ea7"  verticalAlignment="center"  marginTop="10" horizontalAlignment="center" width="100" height="100" [busy]="isLoading"></ActivityIndicator>
            
				<!-- status connection -->
				<ConnectionStatus row="0" rowSpan="2" [status]="connectionStatus"> </ConnectionStatus>
		
</GridLayout>