
<!-- clima-de-hoy -->
<GridLayout rows="auto, auto" marginTop="30"> 

    <Label
        row="0"
        textWrap="true"
        horizontalAlignment="left"
        fontSize="18"
        text="Clima de hoy"
        marginLeft="10"
        verticalAlignment="center"
        color="#674ea7"> </Label>

    <GridLayout row="1" rows="4*, 4*, 4*" columns="3*, 6*, 3*" margin="15" marginTop="30" marginBottom="30" padding="15" borderWidth="2" borderRadius="5" borderColor="#393939" height="120">  

        <!-- sun/weather/cloud -->
        <Image
            row="0"
            col="0"
            rowSpan="3"
            width="80"
            stretch="aspectFit"
            verticalAlignment="center"
            horizontalAlignment="left"
            [src]="weather.iconLink"></Image>

         <!-- datos -->
          <Label
            row="0"
            col="1"
            textWrap="true"
            verticalAlignment="center"
            horizontalAlignment="left"
            fontWeight="900"
            fontSize="20"
            [text]="weather.city"
            color="#3d3d3d"> </Label>
          <Label
            row="1"
            col="1"
            textWrap="true"
            verticalAlignment="top"
            horizontalAlignment="left"
            fontWeight="400"
            fontSize="16"
            [text]="weather.description"
            color="#3d3d3d"> </Label>
           
           <Label
            row="2"
            col="1"
            textWrap="true"
            verticalAlignment="top"
            horizontalAlignment="left"
            fontSize="18"
            [text]="weather.utcTime | moment"
            verticalAlignment="center"
            color="#dadada"> </Label>

         <!-- celcius/farenheit -->
         <Label
            row="0"
            rowSpan="2"
            col="2"
            textWrap="true"
            verticalAlignment="top"
            horizontalAlignment="right"
            fontWeight="900"
            fontSize="24"
            [text]="weather.temperature+' c'"
            color="#393939"> </Label>
         <Label
            row="1"
            rowSpan="2"
            col="2"
            textWrap="true"
            verticalAlignment="top"
            horizontalAlignment="right"
            fontWeight="400"
            fontSize="12"
            [text]="'min: '+weather.lowTemperature+' c \nmax: '+weather.highTemperature+' c \n'"
            color="#3d3d3d"> </Label>
      
              
       
            

    </GridLayout>
</GridLayout> 