<ScrollView height="100%" width="100%">
   <GridLayout rows="*, 180" heigth="auto" verticalAlignment="center">
                          
        <StackLayout row="0" padding="15" height="100%" width="100%" verticalAlignment="center">
                            
                               
                                  <Label
                                    verticalAlignment="top"
                                    horizontalAlignment="center"
                                    marginLeft="0"
                                    textWrap="true"
                                    opacity="0.8"
                                    letterSpacing="0.1"
                                    fontSize="26"
                                    fontWeight="900"
                                    color="#674ea7"
                                    marginBottom="20"
                                    [text]="meetup.title"
                                    class="input futura"></Label>


                                <Label
                                    marginTop="5"
                                    verticalAlignment="top"
                                    horizontalAlignment="left"
                                    marginLeft="0"
                                    textWrap="true"
                                    opacity="1"
                                    fontSize="16"
                                    color="#674ea7"
                                    text="Detalle de su  meetup: "
                                    class="input futura"></Label>
                                
                                 <GridLayout rows="*" columns="1*, 10*" marginTop="10" width="80%" height="40">
                                     <Image
                                        row="0"
                                        col="0"
                                        height="30"
                                        decodeHeight="30"
                                        borderBottomWidth="1"
                                        borderColor="#dadada"
                                        horizontalAlignment="center"
                                        verticalAlignment="center"
                                        src="~/assets/nuevo-meet/apoyo-tecnico.png"
                                        stretch="aspectFit"></Image>
                                    <!-- Info -->
                                    <TextField
                                            row="0"
                                            col="1"
                                            class="futura"
                                            fontSize="12"
                                            textAlignment="left"
                                            marginLeft="4"
                                            paddingLeft="8"
                                            [text]="'aa'"
                                            editable="false"
                                            color="#F3F3F3"
                                            backgroundColor="#674ea7"
                                            borderRadius="10"
                                            verticalAlignment="bottom"></TextField>
                                </GridLayout>

                                <GridLayout rows="*" columns="1*, 10*" marginTop="10" width="80%" height="40">
                                     <Image
                                        row="0"
                                        col="0"
                                        height="30"
                                        decodeHeight="30"
                                        borderBottomWidth="1"
                                        borderColor="#dadada"
                                        horizontalAlignment="center"
                                        verticalAlignment="center"
                                        src="~/assets/nuevo-meet/pin-ubicacion.png"
                                        stretch="aspectFit"></Image>
                                    <!-- Info -->
                                    <TextField
                                            row="0"
                                            col="1"
                                            class="futura"
                                            fontSize="12"
                                            textAlignment="left"
                                            marginLeft="4"
                                            paddingLeft="8"
                                            [text]="(meetup.address && meetup.address.direccion) ? meetup.address.direccion : ''"
                                            editable="false"
                                            color="#F3F3F3"
                                            backgroundColor="#674ea7"
                                            borderRadius="10"
                                            verticalAlignment="bottom"></TextField>
                                </GridLayout>
                                
                                <GridLayout rows="*" columns="1*, 10*" marginTop="10" width="80%" height="40">
                                     <Image
                                        row="0"
                                        col="0"
                                        height="30"
                                        decodeHeight="30"
                                        borderBottomWidth="1"
                                        borderColor="#dadada"
                                        horizontalAlignment="center"
                                        verticalAlignment="center"
                                        src="~/assets/nuevo-meet/calendario.png"
                                        stretch="aspectFit"></Image>
                                    <!-- Info -->
                                    <TextField
                                            row="0"
                                            col="1"
                                            class="futura"
                                            fontSize="12"
                                            textAlignment="left"
                                            marginLeft="4"
                                            paddingLeft="8"
                                            [text]="meetup.date"
                                            editable="false"
                                            color="#F3F3F3"
                                            backgroundColor="#674ea7"
                                            borderRadius="10"
                                            verticalAlignment="bottom"></TextField>
                                </GridLayout>


                            <Label
                                marginTop="5"
                                verticalAlignment="top"
                                horizontalAlignment="left"
                                marginLeft="0"
                                textWrap="true"
                                opacity="1"
                                fontSize="16"
                                color="#674ea7"
                                marginTop="30"
                                text="Participantes: "
                                class="input futura"></Label>

                            <ScrollView width="100%" orientation="horizontal">
                          
                                <StackLayout  width="auto" orientation="horizontal" margin="10">  

                                     <Label
                                        *ngFor="let item of meetup.participations_ids"
                                        marginTop="5"
                                        verticalAlignment="top"
                                        horizontalAlignment="left"
                                        marginLeft="0"
                                        textWrap="true"
                                        opacity="1"
                                        [text]="item.name+' '+item.last_name"
                                        fontSize="16"
                                        backgroundColor="#674ea7"
                                        color="#fafafa"
                                        borderRadius="5"
                                        class="input futura"></Label>
                                </StackLayout>

                            </ScrollView>

            </StackLayout>

                            <StackLayout row="1" padding="15" width="100%" verticalAlignment="bottom">
                             
                                <!-- nextStep() -->
                                <Button
                                    text="CONTRATAR"
                                    verticalAlignment="bottom"
                                    horizontalAlignment="center"
                                    marginTop="30"
                                    marginBottom="10"
                                    height="50"
                                    borderRadius="10"
                                    color="#FFFFFF"
                                    fontSize="16"
                                    [backgroundColor]=" (isMarkers)  ? '#393939' : '#dadada' "
                                    fontWeight="700"
                                    (tap)="newMeetup()"
                                    class="btn btn-secondary btn-active futura"
                                    width="80%"></Button>
                                
                                <!-- label -->
                                <Label
                                    verticalAlignment="bottom"
                                    class="futura"
                                    text="empezar de nuevo"
                                    fontSize="18"
                                    padding="8"
                                    (tap)="resetPage()"
                                    textAlignment="center"
                                    color="#3d3d3d"
                                    textWrap="true"></Label>

                        </StackLayout>
    </GridLayout>
</ScrollView>