<ActionBar 
    backgroundColor="#674ea7" color="#393939">
   

  <GridLayout  rows="*" columns="50, *, 50" orientation="horizontal" width="90%">
    
    

    
     <Label
        row="0"
        col="2"
        class="fas"
        text="&#xf0f3;"
        fontSize="20"
        textTransform="uppercase"
        verticalAlignment="center"
        horizontalAlignment="right"
        textWrap="true"
        text="&#xf2f5;"
        (tap)="onLogOut()"
        textWrap="true"></Label>


            <Label
                row="0"
                col="1"
                verticalAlignment="center"
                horizontalAlignment="center"
                color="#FAFAFA"
                textWrap="true">
                    <FormattedString>
                            <Span class="futura-bold" marginLeft="-10" color="#FAFAFA" fontSize="30" text="meet"></Span>
                            <Span class="futura-bold" fontWeight="900" marginLeft="-10" color="#FAFAFA" fontSize="30" text="APP"></Span>                    
                    </FormattedString>
                </Label>

  </GridLayout>

</ActionBar>

<ScrollView>

	<GridLayout rows="100, *" height="auto">
		
			<StackLayout row="0" backgroundColor="#674ea7" width="100%">
					
						 <Label paddingTop="15" paddingLeft="10" class="futura-bold" fontSize="24" marginTop="10" marginBottom="0" color="#fafafa" text="MI PERFIL"></Label>
								
						  <Label paddingLeft="10" class="futura" fontSize="14" color="#fafafa" textAlignment="left" marginTop="5" text="Completa y/o edita los datos de tu cuenta"></Label>
						  
			</StackLayout>
			
			<PreviousNextView row="1"><!-- add this 'wrapper' to enable those previous / next buttons -->
				<StackLayout row="1" backgroundColor="#FFFFFF" padding="15" height="100%" [visibility]="isLoading ? 'collapsed' : 'visible' ">
						
				 		<Label
				 			marginTop="30"
				 			marginBottom="5"
					 		color="#674ea7"
					 		fontSize="14"
					 		fontWeight="700"
					 		class="futura-bold"
							text="Nombre & Apellido"></Label>

				 		<GridLayout rows="*" columns="*, 10,  *" marginTop="5">
					
							<TextField 
								returnKeyType="next"
									borderBottomWidth="1" borderColor="#674ea7" color="#393939"
									padding="5"
								[(ngModel)]="dataUser.name"  
								row="0" col="0" class="form-input" textAlignment="left"></TextField>

							<TextField 
								returnKeyType="next"
									borderBottomWidth="1" borderColor="#674ea7" color="#393939"
									padding="5"
								[(ngModel)]="dataUser.last_name"  
								row="0" col="2" class="form-input" textAlignment="left"></TextField>
												
				 		</GridLayout>


					<Label
				 			marginTop="30"
				 			marginBottom="5"
					 		color="#674ea7"
					 		fontSize="14"
					 		fontWeight="700"
					 		class="futura-bold"
							text="Telefono"></Label>

				 		<TextField 
				 			returnKeyType="next"
				 			keyboardType="number"
					 		borderBottomWidth="1" borderColor="#674ea7"
					 		marginTop="5" color="#393939" 
					 		[(ngModel)]="dataUser.phone_number"  class="form-input" textAlignment="left"></TextField>

					
				 		<Label
				 			marginTop="30"
				 			marginBottom="5"
					 		color="#674ea7"
					 		fontSize="14"
					 		fontWeight="700"
					 		class="futura-bold"
					 		keyboardType="number"
							text="CUIT / CUIL / DNI"></Label>

						<TextField 
							returnKeyType="next"
								borderBottomWidth="1" borderColor="#674ea7"
								marginTop="5" color="#393939" 
							[(ngModel)]="dataUser.doc_number"  class="form-input" textAlignment="left"></TextField>
				 		

				 		<!-- TipoCliente -->
							
						<Label
				 			marginTop="30"
				 			marginBottom="5"
					 		color="#674ea7"
					 		fontSize="14"
					 		fontWeight="700"
					 		class="futura-bold"
							text="Eres administrador ?"></Label>


				 		<GridLayout rows="*" columns="*, *">
							<Button 
								row="0"
								col="0"
								text="NO"
								margin="5"
								fontWeight="700"
								[color]="(!dataUser.isAdmin) ? '#FFFFFF' : '#393939' "
								[backgroundColor]="(!dataUser.isAdmin)  ? '#674ea7' : '#FFFFFF' "
								borderRadius="5"></Button>
							
							<Button 
								row="0"
								col="1"
								text="Si"
								color="#393939"
								margin="5"
								fontWeight="700"
								[color]="(dataUser.isAdmin) ? '#FFFFFF' : '#393939' "
								[backgroundColor]="(dataUser.isAdmin)  ? '#674ea7' : '#FFFFFF' "
								borderRadius="5"></Button>
						</GridLayout>

						<Label
				 			marginTop="30"
				 			marginBottom="5"
					 		color="#dadada"
					 		fontSize="14"
					 		fontWeight="700"
					 		class="futura-bold"
							text="Para gestionar tus permisos comunicate con tu encargado de area."></Label>


								
						<Label
				 			marginTop="30"
				 			marginBottom="5"
					 		color="#674ea7"
					 		fontSize="14"
					 		fontWeight="700"
					 		class="futura-bold"
							text="Mi dirección"></Label>


								<Label
						 			marginTop="5"
									class="futura"
									fontSize="14"
									color="#393939"
									textWrap="true"
									[text]="(dataUser.address && dataUser.address_str) ? dataUser.address_str : 'Aun no cargaste tu dirección '"></Label>

								<Label
						 			marginTop="5"
									class="futura"
									fontSize="14"
									color="#674ea7"
									marginTop="10"
									horizontalAlignment="right"
									(tap)="navigateTo('set-direccion', [dataUser.address.id, dataUser.id])"
									[text]="(dataUser.address && dataUser.address_str) ? 'CAMBIAR' : 'CARGAR MI DIRECCIÓN' "></Label>	


							<Button
								text="GUARDAR CAMBIOS"
								marginTop="60"
								marginBottom="0"
								height="40"
								borderRadius="10"
								(tap)="updateProfile()"
								[isEnabled]="!isLoading"
								class="btn btn-secondary btn-active futura"
								color="#fffFFF"
								backgroundColor="#393939"
								fontWeight="700"
								width="80%"></Button>

							<Label class="futura" fontSize="18" textAlignment="center" marginTop="10" color="#3d3d3d" text="volver atras" (tap)="navigateTo('home')"></Label>


					</StackLayout>
				</PreviousNextView>

				<!-- loading -->
				<ActivityIndicator row="1" padding="10" color="#674ea7"  verticalAlignment="center"  marginTop="10" horizontalAlignment="center" width="100" height="100" [busy]="isLoading"></ActivityIndicator>
						
				<!-- status connection -->
				<ConnectionStatus row="0" rowSpan="2" [status]="connectionStatus"> </ConnectionStatus>
				
	</GridLayout>

</ScrollView>
