/* Register */
Page {
    background-color: #5497CB;
    color:#ecf0f1;
}

.page-profile-container {
    margin-left: 0;
    margin-top: 0;
    android-status-bar-background: #3879c1;
    ios-status-bar-background: #3879c1;
}

.image{
    transform: rotate(180deg);
}

.form{
    margin: 10;
}

.btn-plus{
    box-shadow: none;
    border-color: #FFFFFF;
    border-width: 2px;
}