<ScrollView height="100%">
    <GridLayout rows="*, 180" heigth="auto" verticalAlignment="center">
                            
        <StackLayout row="0" padding="15" height="100%" width="100%" verticalAlignment="center">
            
            <!-- field -->
            <Label
                verticalAlignment="top"
                horizontalAlignment="left"
                marginLeft="0"
                textWrap="true"
                opacity="0.8"
                fontSize="24"
                color="#393939"
                android:marginTop="20"
                text="Titulo"
                class="input"></Label>

            <TextField #textField 
                class="text-lowercase"
                textAlignment="left"
                color="#F3F3F3"
                backgroundColor="#674ea7"
                autocorrect="false"
                borderRadius="10"
                marginTop="20"
                [(ngModel)]="meetup.title"  
                verticalAlignment="bottom"
                padding="10"></TextField>
            <!-- field -->
            
            <!-- field -->
            <Label
                verticalAlignment="top"
                horizontalAlignment="left"
                marginLeft="0"
                textWrap="true"
                opacity="0.8"
                fontSize="24"
                color="#393939"
                android:marginTop="20"
                text="Asunto"
                class="input"></Label>

            <TextField #textField 
                class="text-lowercase"
                textAlignment="left"
                color="#F3F3F3"
                backgroundColor="#674ea7"
                autocorrect="false"
                borderRadius="10"
                marginTop="10"
                [(ngModel)]="meetup.subject"  
                verticalAlignment="bottom"
                padding="10"></TextField>
            <!-- field -->

               <!-- field -->
            <Label
                verticalAlignment="top"
                horizontalAlignment="left"
                marginLeft="0"
                textWrap="true"
                opacity="0.8"
                fontSize="24"
                color="#393939"
                android:marginTop="20"
                text="Fecha y hora"
                class="input"></Label>

               <!-- Buscador -->
            <Button 
                [text]="dateTime" 
                (tap)="onPickDateTimeTap($event)"
                verticalAlignment="bottom"
                horizontalAlignment="center"
                borderRadius="10"
                marginTop="20"
                height="40"
                borderRadius="10"
                color="#FFFFFF"
                fontSize="16"
                fontWeight="700"
                class="btn btn-secondary btn-active futura"
                backgroundColor="#674ea7"
                width="80%"></Button>

            <!-- field -->
        </StackLayout>
                                    
        <StackLayout row="1" padding="15" width="100%">
        
                                    <Button
                                        text="SIGUIENTE"
                                        verticalAlignment="bottom"
                                        horizontalAlignment="center"
                                        marginTop="40"
                                        marginBottom="10"
                                        height="50"
                                        borderRadius="10"
                                        color="#FFFFFF"
                                        fontSize="16"
                                        [backgroundColor]="(meetup.title.length > 0 && meetup.subject.length > 0 && dateSelected)  ? '#393939' : '#dadada' "
                                        fontWeight="700"
                                        (tap)="nextToPage()"
                                        class="btn btn-secondary btn-active futura"
                                        width="80%"></Button>
                                    
                                    <!-- label -->
                                    <Label
                                        verticalAlignment="bottom"
                                        class="futura"
                                        text="volver atras"
                                        fontSize="18"
                                        padding="8"
                                        (tap)="backToHome()"
                                        textAlignment="center"
                                        color="#3d3d3d"
                                        textWrap="true"></Label>
        </StackLayout>

    </GridLayout>
</ScrollView>
