
<ScrollView height="100%">

    <GridLayout rows="40, *, 180" heigth="auto" verticalAlignment="top">
                            
        <SearchBar
          row="0"
          backgroundColor="#fafafa"
          fontSize="12"
          width="100%"
          height="100%"
          margin="0"
          ios:height="60"
          verticalAlignment="center"
          hint="Buscar por nombre"
          (loaded)="sBLoaded($event)"
          (clear)="onClear($event)"
          (submit)="onSubmit($event)"
          android:color="#333333"
          ios:color="#393939"
          textFieldBackgroundColor="#fafafa" 
          textFieldHintColor="#333333"></SearchBar>

         <StackLayout row="1" height="100%">
          
          <RadListView
                [items]="dataUsers"
                separatorColor="#dadada"
                height="100%"
                [visibility]="(!isLoading) ? 'visible': 'collapsed' ">

                <ng-template tkListItemTemplate let-item="item">
                    <GridLayout rows="*" columns="8*, 4*" padding="10" (tap)="onItemTap(item)">
                        <Label row="0" col="0" 
                            [text]="item.name+' '+item.last_name" 
                            [color]="(item.selected)? '#674ea7' : '#393939'"
                            fontSize="24"
                            padding="10"    
                            letterSpacing="0.1"
                            horizontalAlignment="left"> 
                        </Label>
                    </GridLayout>
                </ng-template>

         </RadListView>

        </StackLayout>

        <StackLayout row="2" padding="15" width="100%" verticalAlignment="bottom">

                                    <Button
                                        text="SIGUIENTE"
                                        verticalAlignment="bottom"
                                        horizontalAlignment="center"
                                        marginTop="40"
                                        marginBottom="10"
                                        height="50"
                                        borderRadius="10"
                                        color="#FFFFFF"
                                        fontSize="16"
                                        backgroundColor="#393939"
                                        fontWeight="700"
                                        (tap)="navigateToConfirm()"
                                        class="btn btn-secondary btn-active futura"
                                        width="80%"></Button>
                                    
                                    <!-- label -->
                                    <Label
                                        verticalAlignment="bottom"
                                        class="futura"
                                        text="volver atras"
                                        fontSize="18"
                                        padding="8"
                                        (tap)="backToPage()"
                                        textAlignment="center"
                                        color="#3d3d3d"
                                        textWrap="true"></Label>
        </StackLayout>
        
        <ActivityIndicator row="1" padding="10"  color="#dadada"  verticalAlignment="center" horizontalAlignment="center" width="60" height="60" [busy]="isLoading"></ActivityIndicator>
  
</GridLayout>