@import "~@nativescript/theme/core";
@import "~@nativescript/theme/purple";


// Place any CSS rules you want to apply on both iOS and Android here.
// This is where the vast majority of your CSS code goes.

.ns-light Page {
    background-color: #FFFFFF;
}

.ns-dark Page {
    background-color: #FFFFFF;
}

// Font icon class
.fab {
    font-family: "Font Awesome 5 Brands", "fa-brands-400";
    font-weight: 400;
}

.fas {
    font-family: "Font Awesome 5 Free", "fa-solid-900";
    font-weight: 900;
}

.far {
    font-family: "Font Awesome 5 Free", "fa-regular-400";
    font-weight: 400;
}

// Animations

@keyframes pulse {
    0% { transform: scale(1.2); opacity: 0.4; }
    50% { transform: scale(1); opacity: 1; }
    100% { transform: scale(1.2); opacity: 0.4; }
}

@keyframes rotate {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@keyframes vibrate {
    0% { transform: rotate(-10deg); }
    50% { transform: rotate(0deg); }
    100% { transform: rotate(10deg); }
}


.pulse-infinite {
   color:#FB665B;
   padding: 8;
   animation-name: pulse;
   animation-duration: 0.5s;
   animation-iteration-count: infinite;
   border-radius: 50%;
}
