<ActionBar 
    backgroundColor="#674ea7" color="#393939">
   

  <GridLayout  rows="*" columns="50, *, 50" orientation="horizontal" width="90%">
    
    

    
     <Label
        row="0"
        col="2"
        class="fas"
        text="&#xf0f3;"
        fontSize="20"
        textTransform="uppercase"
        verticalAlignment="center"
        horizontalAlignment="right"
        textWrap="true"
        text="&#xf2f5;"
        (tap)="onLogOut()"
        textWrap="true"></Label>


            <Label
                row="0"
                col="1"
                verticalAlignment="center"
                horizontalAlignment="center"
                color="#FAFAFA"
                textWrap="true">
                    <FormattedString>
                            <Span class="futura-bold" marginLeft="-10" color="#FAFAFA" fontSize="30" text="meet"></Span>
                            <Span class="futura-bold" fontWeight="900" marginLeft="-10" color="#FAFAFA" fontSize="30" text="APP"></Span>                    
                    </FormattedString>
                </Label>


    <Label  
        row="0"
        col="0"
        class="fas"
        text="&#xf0f3;"
        fontSize="20"
        textTransform="uppercase"
        verticalAlignment="center"
        horizontalAlignment="right"
        textWrap="true"
        (tap)="navigateTo('notificaciones')"></Label>
       

  </GridLayout>

</ActionBar>



    <GridLayout rows="50, *" height="auto" width="100%" verticalAlignment="center">

             <!-- header -->
            <GridLayout 
                row="0" 
                rows="*,*"
                columns="auto, *, auto"
                height="100%"
                padding="4"
                backgroundColor="#3d3d3d" verticalAlignment="bottom" height="100%">

                <Label 
                    row="0"
                    col="0"
                    colSpan="2"
                    fontSize="14" 
                    color="#FFFFFF"
                    class="futura-bold"
                    verticalAlignment="bottom"
                    textAlignment="left"
                    padding="4"
                    [text]="dataUser.name+' '+dataUser.last_name" textWrap="true"></Label>
               

                <Label 
                    row="1"
                    col="0"
                    colSpan="2"
                    fontSize="14" 
                    color="#FFFFFF"
                    class="futura-bold"
                    verticalAlignment="center"
                    textAlignment="left"
                    padding="4"
                    color="#674ea7"
                    (tap)="navigateTo('profile')"
                    text="editar perfil" textWrap="true"></Label>

                <Label 
                    row="0"
                    rowSpan="2"
                    col="2"
                    colSpan="1"
                    verticalAlignment="center"
                    textAlignment="center"
                    fontSize="14" 
                    color="#FFFFFF"
                    backgroundColor="#674ea7"
                    class="futura-bold"
                    padding="8"
                    borderRadius="4"
                    margin="4"
                    heigth="40"
                    width="120"
                    [text]="dataUser.rol_str" textWrap="true"></Label>

            </GridLayout>


    <ScrollView  row="1" height="100%" backgroundColor="#FFFFFF"> 
    
        <GridLayout rows="auto, auto, auto, auto" height="auto" width="100%" horizontalAlignment="left" verticalAlignment="top">

                <!-- clima-de-hoy -->
                <StackLayout row="0">
                <clima-component
                    marginTop="30"
                    [weather]="dataWeather"></clima-component>
                </StackLayout>

                <!-- calendar -->
                <StackLayout row="1">
                    <calendar-component> </calendar-component>
                </StackLayout>

                <!-- meetups -->
                <StackLayout row="2">
                    <GridLayout rows="auto, auto" columns="8*, 4*" marginTop="30"> 

                        <Label
                            row="0"
                            col="0"
                            textWrap="true"
                            horizontalAlignment="left"
                            fontSize="18"
                            text="Mis meetups"
                            marginLeft="10"
                            verticalAlignment="center"
                            [visibility]="(dataUser.isAdmin) ? 'visible' : 'collapsed'"
                            color="#674ea7"> </Label>    
                        
                       <!-- scroll-horizontal -->
                      <ScrollView row="1" col="0" colSpan="2" width="auto" orientation="horizontal">
                      
                      <StackLayout 
                            orientation="horizontal"      
                            [visibility]="(!isLoading && dataUser.isAdmin &&  dataMeMeetups && dataMeMeetups.length > 0) ? 'visible' : 'collapsed'" margin="10">  

                        <meetup-component
                            *ngFor="let item of dataMeMeetups"
                            [temperature]="(dataWeather && dataWeather.temperature) ? dataWeather.temperature : 0"
                            [meetup]="item"
                            [user]="dataUser"
                            [isowner]="true"> </meetup-component>

                         <Label
                                row="0"
                                col="1"
                                textWrap="true"
                                horizontalAlignment="center"
                                fontSize="36"
                                padding="15"
                                margin="30"
                                class="fas"
                                text="&#xf067;"
                                verticalAlignment="center"
                                (tap)="newMeetup(0)"
                                color="#674ea7"> </Label>     

                      </StackLayout>
                      
                      </ScrollView>
                      
                      <!-- message -->

                        <StackLayout   
                            row="1"
                            col="0"
                            colSpan="2"
                            orientation="horizontal"
                            (tap)="newMeetup(0)"
                            [visibility]="(dataUser.isAdmin && dataMeMeetups && dataMeMeetups.length == 0) ? 'visible' : 'collapsed'"> 
                            
                             <Label
                                textWrap="true"
                                width="80%"
                                marginTop="20"
                                marginLeft="10%"
                                padding="10"
                                borderRadius="10"
                                textAlignment="center"
                                horizontalAlignment="center"
                                fontSize="20"
                                text="Organiza tu primer meetup"
                                verticalAlignment="center"
                                color="#fafafa"
                                backgroundColor="#674ea7"> </Label>     
  
                        </StackLayout>

                    </GridLayout>
                </StackLayout>

                <!-- otros meetups -->
                <StackLayout row="3">
                    <GridLayout rows="auto, auto" columns="8*, 4*" marginTop="30"> 

                        <Label
                            row="0"
                            col="0"
                            textWrap="true"
                            horizontalAlignment="left"
                            fontSize="18"
                            [text]="(!dataUser.isAdmin) ? 'Meetups' : 'Otros meetups' "
                            marginLeft="10"
                            verticalAlignment="center"
                            color="#674ea7"> </Label>    
                      
                      <!-- scroll-horizontal -->
                      <ScrollView row="1" col="0" colSpan="2" width="100%" orientation="horizontal">
                      
                      <StackLayout 
                            [visibility]="(!isLoading && dataOtherMeetups && dataOtherMeetups.length > 0) ? 'visible' : 'collapsed'" margin="10" orientation="horizontal" width="auto">  

                        <meetup-component
                            *ngFor="let item of dataOtherMeetups"
                            [meetup]="item"
                            [user]="dataUser"
                            [isowner]="false"
                            (emitOnPress)="checkInMeetup($event)"></meetup-component>

                      </StackLayout>
                      
                      </ScrollView>
                      
                      <!-- message -->
                      <StackLayout row="1" col="0" colSpan="2"
                            [visibility]="(dataOtherMeetups && dataOtherMeetups.length == 0) ? 'visible' : 'collapsed'">  
                             <Label
                                row="0"
                                col="1"
                                textWrap="true"
                                horizontalAlignment="center"
                                fontSize="18"
                                text="Aun no hay meetups disponibles"
                                padding="60"
                                verticalAlignment="center"
                                color="#dadada"> </Label>     
                        </StackLayout>

                    </GridLayout>
                </StackLayout>

        </GridLayout>

    </ScrollView>

    <!-- loading-indicator -->
    <ActivityIndicator row="1" rowSpan="1" padding="10"  color="#674ea7"  verticalAlignment="center" horizontalAlignment="center" width="100" height="100" [busy]="isLoading"></ActivityIndicator>
                   
    <!-- status connection -->
    <ConnectionStatus row="0" [status]="connectionStatus"> </ConnectionStatus>
        
</GridLayout>