/* Register */
Page {
    background-color: #5497CB;
    color:#ecf0f1;
}

.page-home-container {
    margin-left: 0;
    margin-top: 0;
    android-status-bar-background: #3879c1;
    ios-status-bar-background: #3879c1;
}

.btn-volquetes{
    background-image: url('~/assets/home/delivery-truck.png');
    background-size: contain;
    background-position: 95% 0%;
    background-repeat: no-repeat;
    font-family: "Futura", "futura-medium";
}

.btn-servicios{
    background-image: url('~/assets/home/delivery-settings.png');
    background-size: contain;
    background-position: 95% 0%;
    background-repeat: no-repeat;
    font-family: "Futura", "futura-medium";
}

.btn-productos{
    background-image: url('~/assets/home/delivery-order.png');
    background-size: contain;
    background-position: 95% 0%;
    background-repeat: no-repeat;
    font-family: "Futura", "futura-medium";
}