<ActionBar 
    backgroundColor="#674ea7" color="#393939">
   

  <GridLayout  rows="*" columns="50, *, 50" orientation="horizontal" width="90%">
    
    

    
     <Label
        row="0"
        col="2"
        class="fas"
        text="&#xf0f3;"
        fontSize="20"
        textTransform="uppercase"
        verticalAlignment="center"
        horizontalAlignment="right"
        textWrap="true"
        text="&#xf2f5;"
        (tap)="onLogOut()"
        textWrap="true"></Label>


            <Label
                row="0"
                col="1"
                verticalAlignment="center"
                horizontalAlignment="center"
                color="#FAFAFA"
                textWrap="true">
                    <FormattedString>
                            <Span class="futura-bold" marginLeft="-10" color="#FAFAFA" fontSize="30" text="meet"></Span>
                            <Span class="futura-bold" fontWeight="900" marginLeft="-10" color="#FAFAFA" fontSize="30" text="APP"></Span>                    
                    </FormattedString>
                </Label>

  </GridLayout>

</ActionBar>

<GridLayout  class="page page-background" rows="50,  *, 120" verticalAlignment="top"  height="100%">

	<!-- searchbar -->
	<StackLayout row="0" backgroundColor=#FFFFFF borderBottomWidth="2" borderColor="#674ea7" backgroundColor="#FFFFFF" opacity="0.9">
		 <SearchBar
                    height="180"
                    width="100%"
                    borderBottomWidth="1"
                    borderColor="#dadada"
                    margin="0"
                    padding="0"
                    fontSize="14"
                    hint="Buscar mi dirección"
                    color="#000"
                    [text]="_direction.direccion"
                    textFieldBackgroundColor="#dadada" 
                    textFieldHintColor="#000"
					(clear)="onClear($event)"
					(textChange)="onTextChanged($event)"
					(submit)="onSubmit($event)"></SearchBar>
	</StackLayout>
	
	<!-- listado  de direcciones -->
	<RadListView
		row="1"
		width="100%"
		height="auto"
		borderBottomWidth="1"
		borderColor="#dadada"
		[items]="dataDirections"
		backgroundColor="#FFFFFF">
						<ng-template tkListItemTemplate let-item="item">
							                	<Label
							                		(tap)="selectDirection(item)"
							                		height="40"
							                		padding="10"
							                		width="100%"
													textWrap="true"
													[color]="(item.selected) ? '#FFFFFF' : '#393939' " 
													[backgroundColor]="(item.selected) ? '#674ea7' : '#FFFFFF' "
													fontSize="14"
													[text]="item.direccion"
													fontWeight="500"
													horizontalAlignment="left"
													textWrap="true"></Label>
												
					    </ng-template>
	</RadListView>
				
	<Label
		row="1"
		verticalAlignment="center"
		textWrap="true"
		textAlignment="center"
		padding="50"
		[visibility]="!isDirectionSelected && dataDirections && dataDirections.length == 0 ? 'visible' : 'collapsed' "
		text="Seleccione del listado, la dirección correcta." fontSize="20" color="#dadada" class="input futura"></Label>
	

    <StackLayout row="2"> 

	   
		<Button
			text="GUARDAR DIRECCIÓN"
			(tap)="updateDirection()"
			marginTop="40"
			marginBottom="0"
			height="40"
			borderRadius="10"
			[isEnabled]="!isLoading"
			class="btn btn-secondary btn-active futura"
			color="#fffFFF"
			backgroundColor="#393939"
			fontWeight="700"
			width="80%"></Button>

	    <Label opacity="1" class="futura" fontSize="16" text="volver atras" (tap)="navigateTo('profile')" padding="8" textAlignment="center" color="#393939" textWrap="true"></Label>

	</StackLayout>

	<ActivityIndicator row="1" padding="10"  color="#dadada"  verticalAlignment="center" horizontalAlignment="center" width="60" height="60" [busy]="isLoading"></ActivityIndicator>

</GridLayout>