<ActionBar 
    backgroundColor="#674ea7" color="#393939">
   

  <GridLayout  rows="*" columns="50, *, 50" orientation="horizontal" width="90%">
    
            <Label
                row="0"
                col="1"
                verticalAlignment="center"
                horizontalAlignment="center"
                color="#FAFAFA"
                textWrap="true">
                    <FormattedString>
                            <Span class="futura-bold" marginLeft="-10" color="#FAFAFA" fontSize="30" text="meet"></Span>
                            <Span class="futura-bold" fontWeight="900" marginLeft="-10" color="#FAFAFA" fontSize="30" text="APP"></Span>                    
                    </FormattedString>
                </Label>


  </GridLayout>

</ActionBar>

<GridLayout rows="*, 140" backgroundColor="#fafafa" margin="0">			
	
	
	<ScrollView row="0" verticalAlignment="top">
		<PreviousNextView>
		<StackLayout  height="100%" width="100%" paddingTop="20" paddingLeft="20" paddingRight="20">
					
		<Label class="futura-bold" color="#393939" fontSize="26" fontWeight="900" text="Registrate"></Label>
							
		<Label class="futura" color="#393939" fontSize="18" textWrap="true" textAlignment="left" marginTop="5" text="Que estas esperando para formar parte de nuestra comunidad!"></Label>




					<Label
				 			marginTop="20"
				 			opacity="0.7"
					 		color="#674ea7"
					 		fontSize="16"
					 		class="futura-bold"
							text="Nombre *"></Label>

					<TextField  borderBottomWidth="1" borderColor="#000" ios:margin="5" ios:paddingTop="10" 
								   ios:paddingBottom="10" returnKeyType="next" color="#393939" heigth="50" color="#393939"  [(ngModel)]="_dataRegistro.name"   class="form-input" textAlignment="left"></TextField>
					
					<Label
				 			marginTop="20"
				 			opacity="0.7"
					 		color="#674ea7"
					 		fontSize="16"
					 		class="futura-bold"
							text="Apellido *"></Label>

					<TextField  borderBottomWidth="1" borderColor="#000" ios:margin="5" ios:paddingTop="10" 
								   ios:paddingBottom="10" returnKeyType="next" color="#393939" heigth="50" color="#393939"  [(ngModel)]="_dataRegistro.last_name"   class="form-input" textAlignment="left"></TextField>

					<Label
							marginTop="20"
				 			opacity="0.7"
					 		color="#674ea7"
					 		fontSize="16"
					 		class="futura-bold"
							text="Email *"></Label>

	  				<TextField  borderBottomWidth="1" borderColor="#000" ios:margin="5" ios:paddingTop="10" 
								   ios:paddingBottom="10" returnKeyType="next" color="#393939" heigth="50" color="#393939"  [(ngModel)]="_dataRegistro.email"   class="form-input" textAlignment="left"></TextField>
					<Label
							marginTop="20"
				 			opacity="0.7"
					 		color="#674ea7"
					 		fontSize="16"
					 		class="futura-bold"
							text="Contraseña *"></Label>

					<StackLayout ios:margin="5" ios:paddingTop="10" heigth="50" orientation="horizontal" verticalAlignment="center" >
								
										<TextField  borderBottomWidth="1" borderColor="#000" returnKeyType="next" color="#393939" #password 
											[(ngModel)]="_dataRegistro.password" secure="true"
											(textChange)="writePassword($event)" class="form-input" textAlignment="left"
											width="90%"
											height="50"
											margin="0"></TextField>
									        		
										
					        			<Label 
						        			fontSize="16"
						        			color="#393939"
						        			class="fas form-background"
						        			width="10%"
						        			android:paddingTop="20"
						        			height="50"
						        			ios:paddingTop="5"
						        			marginBottom="0"
						        			text="&#xf06e;"
						        			textAlignment="center"
						        			borderBottomWidth="1"
						        			borderColor="#393939"
						        			(tap)="toggleShow($event)"
						        			verticalAlignment="center"></Label>
									
					</StackLayout> 


					<Label
				 			marginTop="30"
				 			marginBottom="5"
					 		color="#674ea7"
					 		fontSize="14"
					 		fontWeight="700"
					 		class="futura-bold"
							text="Que rol desas adoptar ?"></Label>


				 		<StackLayout orientation="horizontal">
							
							<Button 
								width="45%"
								margin="5"
								fontWeight="700"
								(tap)="selectRol(item)"
								[text]="item.label"
								*ngFor="let item of _dataRoles"
								[color]="(_dataRegistro.rol && _dataRegistro.rol.key == item.key) ? '#FFFFFF' : '#393939' "
								[backgroundColor]="(_dataRegistro.rol && _dataRegistro.rol.key == item.key)  ? '#674ea7' : '#FFFFFF' "
								borderRadius="5"></Button>

						</StackLayout>


		</StackLayout>
		</PreviousNextView>
	</ScrollView>
	
	<StackLayout row="1" verticalAlignment="bottom">

				<Button
					text="CREAR MI CUENTA"
					marginTop="60"
					marginBottom="0"
					height="40"
					borderRadius="10"
					(tap)="registerWithEmail()"
					[isEnabled]="!isLoading"
					class="btn btn-secondary btn-active futura"
					color="#fffFFF"
					backgroundColor="#393939"
					fontWeight="700"
					width="80%"></Button>

				<Label class="futura" fontSize="18" textAlignment="center" marginTop="10" color="#3d3d3d" text="volver atras" (tap)="navigateTo('login')"></Label>


	</StackLayout>

	<!-- loading -->
    <ActivityIndicator row="1" rowSpan="1" padding="10"  color="#674ea7"  verticalAlignment="center" horizontalAlignment="center" width="100" height="100" [busy]="isLoading"></ActivityIndicator>
                   
	<!-- status connection -->
    <ConnectionStatus row="0" [status]="connectionStatus"> </ConnectionStatus>
			

</GridLayout>